# EditorConfig is awesome: https://EditorConfig.org

root = true

#### Core EditorConfig Options ####

[*]

max_line_length = 100

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true

[*.json]
indent_size = 2

[*.html]
indent_size = 2

[*.xml]
indent_size = 2

[*.cs]
charset = utf-8
